[submodule "core"]
	path = core
	url = https://github.com/beatcorp/core
[submodule "media"]
	path = media
	url = https://github.com/beatcorp/media
[submodule "music"]
	path = music
	url = https://github.com/beatcorp/music
[submodule "youtube"]
	path = youtube
	url = https://github.com/beatcorp/youtube
